PORT=4000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/suvidha_kiosk?retryWrites=true&w=majority
JWT_SECRET=change-this-secret
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_PHONE=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
